

@using CarInsurance.Models
@model List<Insuree>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email Address</th>
      <th scope="col">Quote</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var insuree in Model)
    {
      <tr>
        <td>@insuree.FirstName</td>
        <td>@insuree.LastName</td>
        <td>@insuree.EmailAddress</td>
        <td>@insuree.Quote</td>
      </tr>

    }

  </tbody>
</table>



